body {
  font-family: "Orbitron", sans-serif;
  background-color: black;
}
button {
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid green;
}
button:hover {
  background-color: green;
  border: 1px solid black;
}

.button {
  padding-top: 10px;
}
.row {
  padding-bottom: 10px;
}
.head {
  background-image: linear-gradient(
      rgba(230, 30, 30, 0.4),
      rgba(59, 3, 3, 0.699)
    ),
    url("media/sniper.gif");
  filter: contrast(5);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 300px 0;
  color: white;
}
.head a {
  text-decoration: none;
  color: white;
  letter-spacing: 4px;
  filter: blur(0.5px);
  transition: all 0.4s ease-in-out;
}
.head a:hover {
  color: rgb(190, 190, 190);
  filter: blur(1px);
}
.appear {
  opacity: 0;
  transition: 1s opacity;
}
.head-main {
  background-image: linear-gradient(
      rgba(230, 30, 30, 0.4),
      rgba(102, 6, 6, 0.6)
    ),
    url("media/beam.gif");
  filter: contrast(4);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px 0;
  color: white;
}
.logo {
  display: block;
  margin: 0 auto;
}
.menu {
  text-align: center;
  padding-bottom: 70px !important;
}
.menu a {
  text-decoration: none;
  color: white;
  padding: 0 5px 0 5px;
}
.active {
  text-decoration: underline !important;
}
.menu a:hover {
  filter: blur(1px);
  text-decoration: underline !important;
}
.contact-form {
  text-align: center;
}

.products {
  text-align: center;
}
.items {
  opacity: 0;
  transition: 3s opacity;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product-img {
  filter: contrast(100%) !important;
  width: 300px;
  padding: 5px 70px 5px 70px;
}
.product-img:hover {
  opacity: 0.5;
}
.product-link {
  color: white;
  text-decoration: none;
}
.product-link:hover {
  text-decoration: underline;
}
.license {
  text-align: center;
  padding-top: 40px;
}
.credits {
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
}
.credits a {
  color: white;
  text-decoration: none;
}
.credits a:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  .items {
    grid-template-columns: 1fr;
  }
}
